body {
  margin: 0;
  background-color: #1b1b1b;
}

header {
  padding: 15px;
  height: 95%;
  width: 300px;
  position: fixed;
}
nav {
  margin: 20px;
  color: rgba(236, 236, 236, 0.59);
  margin-top: 2rem;
  font-size: 16px;
  border: 2px solid color-mix(in srgb, #ffffff, transparent 80%);
  height: 90%;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
}
header nav {
  margin-left: 20px;
  border: 5px solide;
  color: rgba(236, 236, 236, 0.59);
  justify-content: space-around;
}
nav ul li {
  color: rgba(236, 236, 236, 0.59);
  line-height: 2rem;
}

nav ul li {
  font-size: 16px;
  color: rgba(236, 236, 236, 0.59);
  font-family: "Nunito" sans serif;
  margin-bottom: 1.8rem;
  list-style: none;
  padding: 0;
}
nav ul li i {
  line-height: 2rem;
  top: 5px;
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: rgba(236, 236, 236, 0.59);
  font-size: 20px;
  margin-right: 10px;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #ffffff;
}
.big-container i:hover,
.big-container i:focus {
  color: #ffffff;
}

.big-container {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}
.big-container div i {
  background-color: color-mix(in srgb, #ffffff, transparent 90%);
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 20px;
  font-size: 16px;
}
main {
  margin-left: 300px;
  height: 300vh;
}
.hero-section {
  height: 100vh;
}
.hero {
  display: flex;
  position: absolute;
}

.hero-section .hero-text {
  margin-left: 24px;
}
.hero-text {
  max-width: 800px;
  position: relative;
}
.decoration {
  position: absolute;
  background-color: color-mix(in srgb, #ffffff, transparent 90%);
  top: 270px;
  left: 20px;
  width: 20%;
  height: 30%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.6;
}

.hero-text {
  color: #ffffff;
  font-size: 42px;
  font-family: "Ubuntu", sans-serif;
  margin: 80px;
  margin-bottom: 40px;
  line-height: 1.6;
  width: 100%;
  height: 80vh;
}
.hero-text p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0px 0px 40px;
}
.hero-section .hero-text h1 {
  color: #ffffff;
  margin: 0px 0px 15px;
  font-size: 42px;
  font-family: "Ubuntu", sans-serif;
}
.hero-section .hero-text h2 {
  color: #ffffff;
  margin: 0px 0px 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}
.hero-section .hero-text p span {
  color: #ececec;
  font-weight: 600;
  border-bottom: 2px solid #ffffff;
}
.hero-section .hero-text span {
  color: #ffffffcc;
  padding: 10px 0px;
  font-size: 18px;
  font-family: "Roboto,system-ui,-apple-system" sans-serif;
}
.hero-section .hero-text h1 span {
  color: #ececec;
  font-size: 42px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: underline;
}
.hero-img {
  justify-content: space-evenly;
  width: 90%;
}
.hero-img img {
  position: absolute;
  width: 100%;
  height: 90vh;
}

.hero-section img {
  position: absolute;
  top: 0;
  left: 460px;
  width: 38%;
  height: 60%;
  margin: 90px;
  margin-left: 35px;
  border-radius: 30px;
}

.hero-visual {
  background-color: color-mix(in srgb, #ececec, transparent 90%);
  position: absolute;
  top: 98px;
  left: 55.5%;
  width: 40%;
  height: 62%;
  border-radius: 30px;
}
.hero-rode {
  position: absolute;
  background-color: color-mix(in srgb, #ececec, transparent 90%);
  width: 30%;
  height: 65%;
  border-radius: 85%;
  margin-left: 30px;
  margin-top: 20px;
}
.section-button .btn-wor {
  border-radius: 50px;
  font-weight: 600;
  width: 40%;
  height: 50%;
  padding: 12px 25px;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
}
.section-button .btn-get {
  border-radius: 50px;
  font-weight: 600;
  width: 40%;
  height: 50%;
  padding: 12px 25px;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  background-color: #1b1b1b;
  color: #ffffff;
  border: 2px solid;
}
.about-img .btn-wor:hover {
  background-color: #ececec;
  color: #232323;
}
.bi-incon ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 16px;
}
.bi-incon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  padding: 5px;
  top: 60%;
  color: #ececec;
  margin-top: 40px;
  text-align: center;
}
.bi-incon a:hover {
  background-color: #ececec;
  color: #1b1b1b;
}
.button-v {
  display: flex;
  align-content: center;
}
.bi-v {
  left: 240px;
  position: absolute;
  background-color: color-mix(in srgb, #ffffff, transparent 40%);
  height: 5%;
  width: 10%;
  border-radius: 50%;
  padding: 5px;
}
.button-v :hover {
  background-color: #ececec;
  color: #1b1b1b;
}
.bi-chevron-down {
  font-size: 12px;
  margin: 8px;
  align-content: center;
}  

.About {
  display: flex;
  justify-content: space-around;
}
.about-img {
  width: 35%;
  height: 90%;
  border-radius: 2.6rem;
  background-color: #232323;
  /* margin: 20px; */
  padding: 10px;
  border-top: #ffffff 3px solid;
  text-align: center;
  /* margin-right: 20px; */
}
.about-text {
  width: 50%;
  /* height: 170vh; */
}

.about-text .btn-wor {
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;


  font-family: "Roboto",sans-serif;
}
.about-img img {
  width: 40%;
  border-radius: 50%;
  margin: 20px;
  margin-left: 20px;
}
.about-img h3 {
  color: #ececec;
  font-size: 25px;
  font-family: "Ubuntu",sans-serif;
  margin: 0px 0px 0px 8px;
  text-align: center;
}
.about-img p {
  color: #ececec;
  font-size: 15px;
  font-family: "Roboto",sans-serif;
  text-align: center;
}
.about-img .btn-wor {
  display: block;
  line-height: 2.6;
  font-weight: 600;
  width: 96%;
  height: 45px;
  font-size: 16px;
  font-family: "Roboto",sans-serif;
  border-radius: 0.75rem;
  margin-bottom: 1.8rem;
  margin-top: 10px;
  background-color: #232323;
  color: #ececec;
}
.about-img .btn-wor span {
  margin-right: 30px;
}

.about-text h2 {
  color: #ffffff;

  font-family: "Ubuntu",sans-serif;
  font-size: 34px;
  line-height: 1.6;
}
.about-text p {
  color: #ffffff;
  margin: 0;
  font-family: "Roboto",sans-serif;
  font-size: 17.6px;
  line-height: 1.6;
}
.about-text .ps {
  color: #ffffff;
  font-family: "Roboto",sans-serif;
  font-size: 17.6px;
  margin-top: 50px;
  line-height: 1.7rem;
  margin-top: 30px;
}
.sous-section {
  display: flex;
  gap: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background: #232323;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 90px;
}
.sous-section h2 {
  color: #ffffff;
  font-size: 32px;
  font-family: "Ubuntu",sans-serif;
}
.sous-section p {
  font-size: 14px;
  font-family: "Ubuntu",sans-serif;
  padding: 3px;
}
.bi-check-circle {
  color: #ececec;
  font-size: 20px;
  align-items: center;
}

.dernier-ecart {
  display: flex;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
   gap: 10px;
}
.ecart {
  width: 55.1%;
  height: 128px;
   margin-bottom:10px;
}
.ecart p {
  font-size: 15px;
  font-family: "Roboto",sans-serif;
  font-weight: 600;
   line-height: 2.7rem;
  color: color-mix(in srgb, #ffffff, transparent 50%);
}
.ecart span {
  display: block;
  font-weight: 600;
  color: #ffffff;
  font-size: 1rem;
  font-family: "Roboto",sans-serif;
}
.button-get {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.button-get span{
  margin-right: 15px;
} 

.button-get :hover{
  background-color: #232323;
  color: #ececec;
} 

.get-ecart {
  width: 40%;
  height: 30px;
  padding: 28px;
  border-radius: 0.75rem;
  background-color: #232323;
  color: #ececec;
  font-size: 16px;
  font-family: "Roboto",sans-serif;
}
.get-ecart :hover{
   background: #232323;
  color: #ececec;
}

.get-sous {
  width: 50%;
  height: 30px;
  padding: 28px;
  border-radius: 0.75rem;
  font-family: "Roboto",sans-serif;
  margin-bottom: 4rem;
  font-size: 16px;

}

.button-get.get-sous:hover {
  background-color: #ececec;
  color: #232323;
}

.get-ecart:hover {

  border: #ececec 2px solid;
}
.get-sous span i {
  justify-content: space-between;
}
.button-get span {
  gap: 20px;
}  



.bi-chat-dots:hover{
  background-color:#ececec;
  color: #2c2c2c;

}
.about-style {
  display: flex;
  background: #232323;
  width: 100%;
  height: 350px;
  align-items: 20px;
 
}

.style {
  width: 55.5%;
  text-align: center;
  background: #232323;
   font-family: "Ubuntu", sans-serif;
   align-items: center;
   margin-left: 30px;

}

.hard {
  background: #2c2c2c;
  border-radius: 15px;
  width: 200px;
  height: 250px;
  color: #ffffff;
  position: relative;
  align-items: center;
 
  
 
}
.hard p {
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
head h1 {
  font-size: 35px;
   font-family: "Ubuntu", sans-serif;
}
.Emoji {
  font-size: 20px;
   margin: 10px 0 0 0;
}

.selection {
  background-color: color-mix(in srgb, #00c875, transparent 85%);
  color: #00c875;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  margin-left: 60px;
  font-family: "Ubuntu", sans-serif;
  align-content: center;
  top: 0 auto 10px;
   margin-top: 50px;
  
 

}
.people {
  background-color: color-mix(in srgb, #e83e8c, transparent 85%);
  color: #e83e8c;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  margin-left: 60px;
  align-content: center;
   margin-top: 50px;

  font-family: "Ubuntu", sans-serif;
}
.journal {
  background-color: color-mix(in srgb, #ff7e00, transparent 85%);
  color: #ff7e00;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  font-size: 48px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  margin-left: 60px;
  align-content: center;
   margin-top: 50px;
}
.smile {
  background-color: #444444;
  color: #ececec;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  margin-left: 60px;
  align-content: center;
  font-family: "Ubuntu", sans-serif;
   margin-top: 50px;
   
}

.bi-check-circle{
 position:relative;
bottom: 0;
width: 20px;
left: 40px;
bottom: 60px;
right: 20px;
border-radius: 50%;
padding: 2px;
border:#ececec 2px solid;
background: #ececec;
color: #2c2c2c

}

 .skils-precipal{
  display: flex;
 }

 .skills-section h1{
  font-size: 32px;
  text-align: center;
  font-family: "Ubuntu",sans-serif;
  color: #ececec;
  text-decoration: underline;
 }

 .skills-section h4 {
   font-size: 14px;
  text-align: center;
  font-family: "Ubuntu",sans-serif;
  color: #ececec;

 }
 .skills-category {
  width: 50%;
  background-color:#232323;
  height: 75vh;
  margin: 0 0 0 50px;

 }
 .skill-item{
  margin: 0 15px 0 15px ;
  
 }
 
 
 
 .skills-category h3{
  color: #ececec;
    font-size: 24px;
    font-family: "Ubuntu",sans-serif; 

 }
 .ligne{
  width: 20% ;
  height: 3px;
  background-color: #ececec;
 }
 .d-flex{
  display: flex;
  justify-content: space-between;
  color: #ececec;
 align-items: center;
 }
 .progress{
 height: 10px;
 width: 100%;
 background-color:  color-mix(in srgb, #ececec, transparent 90%);
 border-radius: 20px;
 }

 .progress-bar95{
 height: 10px;
 width: 95%;
 background-color: #ececec;
 border-radius: 20px;
}


 .progress-bar85{
   height: 10px;
 width: 85%;
 background-color:#ececec;
  border-radius: 20px;
}

 .progress-bar80{
   height: 10px;
 width: 80%;
 background-color: #ffffff;
  border-radius: 20px;

 }

 .skill-strong{
  color:#ececec;
  font-size: 14px;
  font-family: "Ubuntu",sans-serif;
 }
 .skill-tooltip{
    color:#ececec;
  font-size: 14px;
  font-family: "Ubuntu",sans-serif;
  font-weight: 300;
 }

 .experience{
    color:#ececec;
  font-size: 14px;
  font-family: "Ubuntu",sans-serif;
 }
 .progress-bar75{
     height: 10px;
 width: 75%;
 background-color:#ececec;
  border-radius: 20px;
 }
 .progress-bar72{
     height: 10px;
 width: 72%;
 background-color:#ececec;
  border-radius: 20px;
 }
 .progress-bar65{
  height: 10px;
 width: 65%;
 background-color:#ececec;
  border-radius: 20px;
 }
 




